ul.test-case-types {
    list-style-type: none;
}
div.test-case:not(:last-child){
    margin-bottom: 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid #eee;
}
div.test-case h3 {
    margin-top: 1cm;
}

ul.test-case-info-description {
    list-style-type: none;
    margin-bottom: 1em;
}
ul.test-case-info-description li{
    display: inline-block;
    margin-right: 2em;
}