<!--
 * @Author: joker.zhang
 * @Date: 2020-07-08 11:47:40
 * @LastEditors: joker.zhang
 * @LastEditTime: 2020-07-20 11:02:36
 * @Description: For Automation
-->
{% extends 'base.html' %}
<!-- 页面标题 -->
{% block title %}
复制用例|自动化测试平台
{% endblock %}
{% block nav_test_case_active %}active{% endblock %}

{% load staticfiles %}
{% block header_extends %}
<link rel="stylesheet" href="{% static 'tpTest/test_case.css' %}">
{% endblock %}

<!-- 页面内容 -->
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
            <div class="panel panel-default">
                <div class="panel-heading">复制用例</div>
                <form role="form" action="copy_action/" method="POST">
                    <div class="form-group">
                        <div>
                            <label>用例描述:</label>
                            <input type="text" class="form-control" maxlength="100" name="tname"
                                value="{{test_case.name}}">
                        </div>
                    </div>

                    <div class="form-group">
                        <div>
                            <label>请求地址:</label>
                            <input type="text" class="form-control" maxlength="100" name="turl"
                                value="{{test_case.url}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <label>请求方法:</label>
                            <input type="text" class="form-control" maxlength="20" name="tmethod"
                                value="{{test_case.method}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <label>登录邮箱:</label>
                            <input type="text" class="form-control" maxlength="50" name="temail"
                                value="{{test_case.email}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <label>登录密码:</label>
                            <input type="text" class="form-control" maxlength="20" name="tpw" value="{{test_case.pw}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <label>项目:</label>
                            <input type="text" class="form-control" maxlength="20" name="tproject"
                                value="{{test_case.project}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <label>迭代版本:</label>
                            <input type="text" class="form-control" maxlength="20" name="titeration"
                                value="{{test_case.iteration}}">
                        </div>
                    </div>

                    <div class="form-group">
                        <div>
                            <label>前提条件设置:</label>
                            <textarea cols="40" rows="10" class="form-control"
                                name="tsu_env">{{test_case.su_env}}</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <label>请求参数:</label>
                            <textarea cols="40" rows="10" class="form-control"
                                name="tparams">{{test_case.params}}</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <label>检验:</label>
                            <textarea cols="40" rows="10" class="form-control"
                                name="tchecker">{{test_case.checker}}</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <label>清理数据:</label>
                            <textarea cols="40" rows="10" class="form-control"
                                name="ttd_env">{{test_case.td_env}}</textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div>
                            <label>维护人员:</label>
                            <div>
                                <select name="towner">
                                    <option value="1" selected="selected">joker</option>
                                    <option value="2">yandy</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <label>备注:</label>
                                <input type="text" class="form-control" maxlength="200" name="tremark"
                                    value="{{test_case.remark}}">
                            </div>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">提交</button>
                        <button class="btn-block btn-success btn-lg text-center" onclick="history.back()">返回</button>
                        {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}