<!--
 * @Author: joker.zhang
 * @Date: 2020-07-01 11:45:37
 * @LastEditors: joker.zhang
 * @LastEditTime: 2020-07-20 19:30:14
 * @Description: For Automation
-->

{% extends 'base.html' %}
<!-- 页面标题 -->
{% block title %}
列表|自动化测试平台
{% endblock %}
{% block nav_test_case_active %}active{% endblock %}

{% load staticfiles %}
{% block header_extends %}
<link rel="stylesheet" href="{% static 'tpTest/test_case.css' %}">
<script type="text/javascript" src="{% static 'tpTest/test_case_list.js' %}"></script>
{% endblock %}

<!-- 页面内容 -->
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div style="float:right"><a href="{% url 'add_form' %}" class="btn btn-danger input-sm">
                            添加用例</a></div>
                    <div style="float:right">
                        <a onclick="getDeleteValues()" class="btn btn-danger input-sm">批量删除</a></div>
                    <div style="float:right">
                        <a onclick="getExecuteValues()" class="btn btn-danger input-sm">批量执行</a></div>
                </div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th><input type="checkbox" id="select_all" onclick="selectAll()">全选</th>
                            <th>编号</th>
                            <th>用例描述</th>
                            <th>请求参数</th>
                            <th>检验</th>
                            <th>项目</th>
                            <th>迭代版本</th>
                            <th>维护人员</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for test_case in page_of_test_cases %}
                        <tr>
                            <td><input type="checkbox" value="{{test_case.pk}}" name="check_box" onclick="selectOne()">
                            </td>
                            <td>
                                {{test_case.pk}}
                            </td>
                            <td>
                                <a href="{% url 'test_case_detail' test_case.pk %}">{{ test_case.name }}</a> </td>
                            <td>
                                {{test_case.params}}
                            </td>
                            <td>
                                {{test_case.checker}}
                            </td>
                            <td>
                                {{test_case.project}}
                            </td>
                            <td>
                                {{test_case.iteration}}
                            </td>
                            <td>
                                {{test_case.owner}}
                            </td>
                            <td>
                                <form role="form" action="copy_form/" method="POST">
                                    <input type="hidden" name="test_case_id" value="{{test_case.pk}}">
                                    <div style="float:right">
                                        <button class="btn btn-danger input-sm" type="submit">复制</button></div>
                                    {% csrf_token %}
                                </form>
                                <form role="form" action="update_form/" method="POST">
                                    <input type="hidden" name="test_case_id" value="{{test_case.pk}}">
                                    <div style="float:right">
                                        <button class="btn btn-danger input-sm" type="submit">修改</button></div>
                                    {% csrf_token %}
                                </form>
                                <form role="form" action="delete_action/" method="POST">
                                    <input type="hidden" name="test_case_id" value="{{test_case.pk}}">
                                    <div style="float:right">
                                        <button class="btn btn-danger input-sm" type="submit">删除</button></div>
                                    {% csrf_token %}
                                </form>
                                <form role="form" action="execute_action/" method="POST">
                                    <input type="hidden" name="test_case_id" value="{{test_case.pk}}">
                                    <div style="float:right">
                                        <button class="btn btn-danger input-sm" type="submit">执行</button></div>
                                    {% csrf_token %}
                                </form>
                            </td>
                        </tr>
                        {% empty %}
                        <div class="test-case">
                            <h3>-- 暂无用例，请添加 --</h3>
                        </div>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="panel-body">
                </div>
                <div class="panel-heading">用例列表（此页有{{ page_of_test_cases|length }}条用例）</div>
            </div>
            <div>
                <ul class="pagination">
                    <!-- 上一页 -->
                    <li>
                        {% if page_of_test_cases.has_previous %}
                        <a href="?page={{ page_of_test_cases.pageprevious_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                        {% else %}
                        <span aria-hidden="true">&laquo;</span>
                        {% endif %}
                    </li>
                    <!-- 全部页码 -->
                    {% for page_num in page_of_test_cases.paginator.page_range %}
                    <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                    {% endfor %}
                    <!-- 下一页 -->
                    <li>
                        {% if page_of_test_cases.has_next %}
                        <a href="?page={{ page_of_test_cases.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                        {% else %}
                        <span aria-hidden="true">&raquo;</span>
                        {% endif %}
                    </li>
                </ul>
            </div>


        </div>
    </div>
</div>
{% endblock %}