<!--
 * @Author: joker.zhang
 * @Date: 2020-07-01 16:29:29
 * @LastEditors: joker.zhang
 * @LastEditTime: 2020-07-19 01:49:01
 * @Description: For Automation
-->
{% extends 'base.html' %}
<!-- 页面标题 -->
{% block title %}
详情|自动化测试平台
{% endblock %}
{% block nav_test_case_active %}active{% endblock %}

{% load staticfiles %}
{% block header_extends %}
<link rel="stylesheet" href="{% static 'tpTest/test_case.css' %}">
{% endblock %}

<!-- 页面内容 -->
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="panel-heading">
                <a href="{% url 'add_form' %}"><button type="button" class="btn btn-primary">添加用例</button></a>
            </div>
            <div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>key</th>
                            <th>value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>用例编号</td>
                            <td>{{test_case.pk}}</td>
                        </tr>
                        <tr>
                            <td>用例描述</td>
                            <td>{{test_case.name}}</td>
                        </tr>
                        <tr>
                            <td>请求地址</td>
                            <td>{{test_case.url}}</td>
                        </tr>
                        <tr>
                            <td>请求方法</td>
                            <td>{{test_case.method}}</td>
                        </tr>
                        <tr>
                            <td>登录邮箱</td>
                            <td>{{test_case.email}}</td>
                        </tr>
                        <tr>
                            <td>登录密码</td>
                            <td>{{test_case.pw}}</td>
                        </tr>
                        <tr>
                            <td>项目</td>
                            <td>{{test_case.project}}</td>
                        </tr>
                        <tr>
                            <td>迭代版本</td>
                            <td>{{test_case.iteration}}</td>
                        </tr>
                        <tr>
                            <td>前提条件设置</td>
                            <td>{{test_case.su_env}}</td>
                        </tr>
                        <tr>
                            <td>请求参数</td>
                            <td>{{test_case.params}}</td>
                        </tr>
                        <tr>
                            <td>接口响应</td>
                            <td>{{test_case.ret}}</td>
                        </tr>
                        <tr>
                            <td>检验</td>
                            <td>{{test_case.checker}}</td>
                        </tr>
                        <tr>
                            <td>多业务数据</td>
                            <td>{{test_case.next_step}}</td>
                        </tr>
                        <tr>
                            <td>清理数据</td>
                            <td>{{test_case.td_env}}</td>
                        </tr>
                        <tr>
                            <td>维护人员</td>
                            <td>{{test_case.owner}}</td>
                        </tr>
                        <tr>
                            <td>创建时间</td>
                            <td>{{test_case.created_time}}</td>
                        </tr>
                        <tr>
                            <td>最后维护时间</td>
                            <td>{{test_case.last_updated_time}}</td>
                        </tr>
                        <tr>
                            <td>备注</td>
                            <td>{{test_case.remark}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}