<!--
 * @Author: joker.zhang
 * @Date: 2020-07-01 16:29:29
 * @LastEditors: joker.zhang
 * @LastEditTime: 2020-07-12 17:19:00
 * @Description: For Automation
-->
{% extends 'base.html' %}
<!-- 页面标题 -->
{% block title %}
详情|自动化测试平台
{% endblock %}
{% block nav_test_case_active %}active{% endblock %}

{% load staticfiles %}
{% block header_extends %}
<link rel="stylesheet" href="{% static 'test_case.css' %}">
{% endblock %}

<!-- 页面内容 -->
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="panel-heading">
                <a href="{% url 'add_form' %}"><button type="button" class="btn btn-primary">添加用例</button></a>
            </div>
            <h3>{{ test_case.TC_name }}</h3>
            <ul class="test-case-info-description">
                <li>用例前置：{{ test_case.TC_set_up}}</li>
                <li>接口参数：{{ test_case.TC_params}}</li>
                <li>检验：{{ test_case.TC_checks}}</li>
                <li>下一步参数：{{ test_case.TC_next_step}}</li>
                <li>用例版本：{{ test_case.TC_version}}</li>
                <li>维护人员：{{ test_case.owner}}</li>
                <li>创建时间：{{ test_case.created_time}}</li>
                <li>最后修改时间：{{ test_case.last_updated_time}}</li>
                <li>备注：{{ test_case.TC_remark}}</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}