<!--
 * @Author: joker.zhang
 * @Date: 2020-07-02 15:26:37
 * @LastEditors: joker.zhang
 * @LastEditTime: 2020-07-21 09:10:54
 * @Description: For Automation
-->
{% load staticfiles %}

<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'tpTest/base.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'jquery-1.12.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
    {% block header_extends %}{% endblock %}
</head>

<body class="header-fixTop">
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'home' %}">首页</a>
                </div>
                <div>
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{% url 'test_case_list' %}">测试用例</a></li>
                        <li class="active"><a href="#">测试计划</a></li>
                        <li><a href="{% url 'home' %}">报告</a></li>
                </div>
            </div>
        </nav>
        {% block content %}{% endblock %}
        <hr>
        <p class="base-content">
            -- 需求驱动学习 --</p>
</body>

</html>