<!--
 * @Author: joker.zhang
 * @Date: 2020-07-02 15:26:37
 * @LastEditors: joker.zhang
 * @LastEditTime: 2020-07-09 14:04:32
 * @Description: For Automation
-->
{% load staticfiles %}

<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'jquery-1.12.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
    {% block header_extends %}{% endblock %}
</head>

<body>
    <div class="row clearfix">
        <div class="col-md-2 column">
        </div>
        <div class="col-md-6 column">
            <ul class="nav nav-pills">
                <li class="active">
                    <a href="{% url 'home' %}">首页</a>
                </li>
                <li>
                    <a href="{% url 'test_case_list' %}">列表</a>
                </li>
                <li class="disabled">
                    <a href="#">报告</a>
                </li>
            </ul>
        <div class="col-md-4 column">
        </div>
    </div>

    {% block content %}{% endblock %}
    <hr>
    <p class="base-content">
        -- 需求驱动学习 --</p>

</body>

</html>